doctype html
html(lang='en')
  head(style="margin-bottom:-300px;")
  
    //begin-static-app-name
    title clustermap
    //end-static-app-name
    //app-name
      <title>{{{app-name}}}</title>

    meta(charset='utf-8')
    //if IE
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    
    //begin-static-app-name
    meta(name='description', content='clustermap')
    //end-static-app-name
    //app-name
      <meta name="description" content="{{{app-name}}}"/>
    
    meta(name='author', content='Trampoline Systems Ltd')

    link(type='text/css', rel='stylesheet', href="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css")
    link(type='text/css', rel='stylesheet', href='css/app.css')
    
    script(type='text/javascript', src='js/polyfills.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.2.min.js')

    <!--[if lte IE 7]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie7'); });
    <![endif]-->
    <!--[if IE 8]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie8'); });
    <![endif]-->
    <!--[if IE 9]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie9'); });
    <![endif]-->
    <!--[if IE 10]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie10'); });
    <![endif]-->
    script(type="text/javascript").
      $(document).ready(function(){
        if ($('html').hasClass('ie8')) {
          $('#browser-support').modal();
        }
      });

    script(type='text/javascript', src='http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
    script(type='text/javascript', src='js/vendor.js')
    script(type='text/javascript', src='http://fb.me/react-0.9.0.js')

    //begin-static-app-config
    script(type='text/javascript').
      window.config={"api":{"prefix": ""}}
    //end-static-app-config
    //app-config
      <script type="text/javascript">window.config={{{app-config}}}</script>

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if (window.config.ua && window.config.ua.code) {
        ga('create', window.config.ua.code, 'auto');
        ga('send', 'pageview');
      }

  body

    .grd.grdh

      .grdr
        .grdc
          header.page-header
            h1.logo EC
            ul.nav-links
              li.link-intro: a(href="#") Introduction
              //- li.link-about: a(href="#") About
              li.link-login
                // a(href="#") Login
              li.link-register
                // a(href="#") Register

            .company-search
              //- input(type="text", placeholder="Company Search")

      .grdr
        .grdc.intro#intro

          h2
            | Mapping Europe&#8217;s startup ecosystem

          p
            | This platform is being developed as part of&nbsp;
            a(href="http://ec.europa.eu/digital-agenda/about-startup-europe" target="_blank") Startup Europe
            | &nbsp;to provide a detailed and consistent analysis of the startup ecosystem across Europe.
            | New functionality and data sources are being introduced progressively through 2015 and 2016.
            | The current beta release contains only partial data and some known inconsistencies.

      .grdr
        .grdc
          .view.view-main
            #filter-description-component
              .filter-settings
                .filter-buttons
                  button(type="button").btn.btn-primary#filter-toggle Open Filter
                  button(type="button").btn.btn-default#filter-reset Reset

              //-   ul.filter-selected-items
              //-     li
              //-       span Filter item name
              //-       button(type="button").close &times;

      .grdr
        .grdc
          .view.view-company.hide
            .company-header
              h3 Company Name
              .company-buttons
                span#company-close
                  button(type="button").btn.btn-primary Close
                //- span#company-edit
                //-   button(type="button").btn.btn-default Edit
              
      .grdr
        .grdc.grdh

          .grd#data-container
            .grdr
              .grdc.grdh#filters.filters.view.view-main
                .grd
                  .grdr
                    .grdc
                      header.filters-header
                        | Filters

                  .grdr
                    .grdc.grdh
                      .grdp.grdh#filter-col
                        #filter-component.grdh.grdw.grda

                          //- .filter-group.active
                          //-   .filter-header
                          //-     i.icon-toggle-filter
                          //-     span Filter header

                          //-   ul.filter-items
                          //-     li
                          //-       label
                          //-         div
                          //-           span.label
                          //-             input(type="checkbox")
                          //-             | Filter item name
                          //-         div
                          //-           span.badge 123
                          //-     li
                          //-       label
                          //-         div
                          //-           span.label
                          //-             input(type="checkbox")
                          //-             | Filter item name
                          //-         div
                          //-           span.badge 123
                          //-     li
                          //-       label
                          //-         div
                          //-           span.label
                          //-             input(type="checkbox")
                          //-             | Filter item name
                          //-         div
                          //-           span.badge 123
                          //-     li
                          //-       label
                          //-         div
                          //-           span.label
                          //-             input(type="checkbox")
                          //-             | Filter item name
                          //-         div
                          //-           span.badge 123

                          //- - for (var i = 0; i < 5; ++i) {
                          //-   .filter-group
                          //-     .filter-header
                          //-       i.icon-toggle-filter
                          //-       span Filter header

                          //-     ul.filter-items
                          //-       - for (var j = 0; j < 5; ++j) {
                          //-         li
                          //-           label
                          //-             div
                          //-               span.label
                          //-                 input(type="checkbox")
                          //-                 | Filter item name
                          //-             div
                          //-               span.badge 123
                          //-       - }
                          //- - }


              .grdc.grdh
                .grd
                  .grdr.view.view-main
                    .grdc

                      ul.section-nav.nav#section-nav
                        li: a(href="#headlines") Headlines
                        li: a(href="#map") Map
                        li: a(href="#charts") Charts
                        li: a(href="#index") Index

                  .grdr
                    .grdc.grdh.grdw

                      .grdp.grdh#data-col(data-spy="scroll", data-target="#section-nav")
                        .grdh.grdw.grda

                          .main-content#data-details

                            section.section.section-headlines.view.view-main#headlines
                              h3 Headlines
                              #headline-stats-component
                                //- .row.headline-stats
                                //-   .col-md-6
                                //-     .row
                                //-       .col-sm-6
                                //-         h4.stat-title Companies
                                //-         .stat-amount 43,367
                                //-         .stat-change
                                //-           i.icon-positive
                                //-           span 32,369
                                //-       .col-sm-6
                                //-         h4.stat-title Total Turnover
                                //-         .stat-amount 
                                //-           | 43.3M
                                //-           small  GBP
                                //-         .stat-change
                                //-           i.icon-positive
                                //-           span 15.6%
                                //-   .col-md-6
                                //-     .row
                                //-       .col-sm-6
                                //-         h4.stat-title Total Employees
                                //-         .stat-amount 2,345
                                //-         .stat-change
                                //-           i.icon-negative
                                //-           span 12.3%
                                //-       .col-sm-6
                                //-         h4.stat-title Mean Tunrover
                                //-           small  per Employee
                                //-         .stat-amount
                                //-           | 4.3K
                                //-           small  GBP

                            section.section.section-map.view.view-main#map
                              header
                                h3 Map
                                // p Intro text...

                              .panel.panel-default
                                .panel-heading
                                  .heat-map-key
                                    #color-scale-component
                                      table.table-key
                                        tbody
                                          tr
                                            td.hm-1 25
                                            td.hm-2 25
                                            td.hm-3 25
                                            td.hm-4 25
                                            td.hm-5 25
                                            td.hm-6 25
                                    p Companies appear when fewer than 1000 on the map

                                  .panel-settings
                                    div
                                      span.custom-select
                                        select
                                          option Number of companies
                                          option Number of companies
                                          option Number of companies
                                          option Number of companies

                                    div
                                      a.btn.btn-link(data-toggle="collapse", href="#advanced-options", aria-expanded="false", aria-controls="advanced-options") Advanced options

                                  .panel-options.collapse#advanced-options
                                    p Enter advanced optiuons here...


                                .panel-body
                                  #map-component


                            section.section.section-charts.view.view-main#charts
                              header
                                h3 Charts
                                // p Intro text...

                              .panel
                                .panel-heading
                                  h4 Compare Areas
                                  //- div
                                  //-   span.custom-select
                                  //-     select
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies

                                .panel-body
                                  #region-investment-histogram
                                    //- table.table.table-stats.table-filtered
                                    //-   tr.active-row
                                    //-     th.title
                                    //-       span Cambridge Ahead
                                    //-     td.amount
                                    //-       span 560
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:75%")
                                    //-   tr
                                    //-     th.title
                                    //-       span City of Cambridge
                                    //-     td.amount
                                    //-       span 460
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:65%")
                                    //-   tr
                                    //-     th.title
                                    //-       span East Cambridge
                                    //-     td.amount
                                    //-       span 360
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:55%")
                                    //-   tr
                                    //-     th.title
                                    //-       span Fenland
                                    //-     td.amount
                                    //-       span 260
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:45%")
                                    //-   tr
                                    //-     th.title
                                    //-       span Huntingdonshire
                                    //-     td.amount
                                    //-       span 160
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:35%")
                                    //-   tr
                                    //-     th.title
                                    //-       span South Cambridge
                                    //-     td.amount
                                    //-       span 60
                                    //-     td.bar
                                    //-       .bar-chart-container
                                    //-         .bar-chart(style="width:25%")

                              //- .panel
                              //-   .panel-heading
                              //-     h4 Compare Sectors
                              //-     //- div
                              //-     //-   span.custom-select
                              //-     //-     select
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies

                              //-   .panel-body
                              //-     #sector-histogram 
                              //-       //- table.table.table-stats
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span Cambridge Ahead
                              //-       //-     td.amount
                              //-       //-       span 560
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:75%")
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span City of Cambridge
                              //-       //-     td.amount
                              //-       //-       span 460
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:65%")
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span East Cambridge
                              //-       //-     td.amount
                              //-       //-       span 360
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:55%")
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span Fenland
                              //-       //-     td.amount
                              //-       //-       span 260
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:45%")
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span Huntingdonshire
                              //-       //-     td.amount
                              //-       //-       span 160
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:35%")
                              //-       //-   tr
                              //-       //-     th.title
                              //-       //-       span South Cambridge
                              //-       //-     td.amount
                              //-       //-       span 60
                              //-       //-     td.bar
                              //-       //-       .bar-chart-container
                              //-       //-         .bar-chart(style="width:25%")

                              //- .panel
                              //-   .panel-heading
                              //-     h4 Company Size
                              //-     div
                              //-       span.custom-select
                              //-         select
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies

                              //-   .panel-body
                              //-     .chart-container

                              .panel
                                .panel-heading
                                  h4 Trends
                                  div
                                    span.custom-select
                                      select
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies

                                .panel-body
                                  .chart-container#turnover-timeline



                            section.section.section-index.view.view-main#index
                              header
                                h3 Index
                                // p Intro text...

                              #table-component  
                                .table-responsive
                                  table.table.table-outlined
                                    thead
                                      tr
                                        th.sort-asc 
                                          a(href="#") Company
                                            i
                                        th 
                                          a(href="#") Sector
                                            i
                                        th.text-right 
                                          a(href="#") Turnover
                                            small  (2014)
                                            i
                                        th.text-right.sort-desc 
                                          a(href="#") % Turnover growth
                                            i
                                        th.text-right 
                                          a(href="#") Employees
                                            small  (2014)
                                              i
                                        th.text-right
                                          a(href="#") % Employee growth
                                            i
                                    tbody
                                      - for (var i = 0; i < 8; ++i) {
                                        tr
                                          td
                                            a(href="#") Company Name
                                          td Sectors, sectors 
                                            small: a(href="#") More
                                          td.text-right 9.87M 
                                            small GBP
                                          td.text-right 29 
                                            i.icon-positive
                                          td.text-right 1,996
                                          td.text-right 32 
                                            i.icon-positive
                                      - }

                              .table-nav
                                .record-count
                                  b 1
                                  |  to
                                  b  6
                                  |  of
                                  b  26

                                nav
                                  button(type="button").btn.btn-default.btn-sm Next
                                  button(type="button").btn.btn-default.btn-sm Last

                            section.section.section-company-info.view.view-company.hide#company-info

                              .panel-grid-container
                                .panel-grid
                                  .panel-row
                                    .panel
                                      .panel-body
                                        .company-logo

                                        .company-details
                                            ul
                                              li
                                                h4 Description
                                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum distinctio aliquid voluptatum temporibus suscipit at, quae ea facilis nobis! Facilis quia, repellendus sunt numquam, aut distinctio placeat commodi quisquam eius.

                                              li
                                                h4 Sector
                                                p: a(href="#") Other service activities
                                                p SIC 1234 5678 - Other Business Activities
                                                p SIC 1234 5678 - Other Business Activities

                                              li
                                                h4 Registration Number
                                                p 0123456789
                                              li
                                                h4 Website
                                                p: a(href="#") abcdefghijk.com
                                              li
                                                p
                                                  a(href="#"): i.icon-twitter
                                                  | &nbsp;
                                                  a(href="#"): i.icon-linkedin
                                                  | &nbsp;
                                                  a(href="#"): i.icon-crunch
                                                  | &nbsp;
                                                  a(href="#"): i.icon-angel


                                    .panel
                                      .panel-body
                                        .company-address
                                          .row
                                            .col-sm-6
                                              address
                                                h4 Registered Address
                                                div 110 Fulbourn Rd
                                                div Cambridge
                                                div Cambridgeshire
                                                div CB1 9NJ
                                                div UK
                                            .col-sm-6
                                              address
                                                h4 Second Address
                                                div 110 Fulbourn Rd
                                                div Cambridge
                                                div Cambridgeshire
                                                div CB1 9NJ
                                                div UK
                                        .company-map
                                          .map-container


                                  .panel-row
                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Turnover (2013)
                                          .stat-amount 43.3M
                                            small GBP
                                          .stat-change 
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg

                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Employees (2013)
                                          .stat-amount 43,367
                                          .stat-change
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg


                                  .panel-row
                                    .panel
                                      .panel-body
                                        h3 Directors
                                        .table-responsive
                                          table.table
                                            thead
                                              tr
                                                th Name
                                                th Start Date
                                                th ZZZ
                                            tbody
                                              tr
                                                td Mr Joe Blogs
                                                td 19<sup>th</sup> May 1998
                                                td --
                                              tr
                                                td Ms Mary Smith
                                                td 3<sup>rd</sup> Jan 1999
                                                td --
                                              tr
                                                td Mr Alan Robertson
                                                td 21<sup>st</sup> Aug 2001
                                                td --

                                  
                                  
                          footer.page-footer
                            div
                              | Research and analysis by&nbsp;
                              a(href="https://www.grantthornton.com/" target="_blank") Grant Thornton
                              | &nbsp;- interactive platform by &nbsp;
                              a(href='http://www.trampolinesystems.com/' target="_blank") Trampoline Systems
                            div.report-issue
                              a(href='mailto:clustermap-issues@trampolinesystems.com?subject=Startup Hubs EU issue report') Report issue

    //begin-static-base-js
    script(type="text/javascript", src="cljs/goog/base.js")
    //end-static-base-js
    //base-js
      {{{base-js}}}

    //begin-static-dynamic-js
    <script type="text/javascript" src="clustermap.js"></script><script type="text/javascript">goog.require("clustermap.core");</script>
    //end-static-dynamic-js
    //dynamic-js
      <script type="text/javascript" src="clustermap.js"></script><script type="text/javascript">goog.require("clustermap.core");</script>

    //begin-static-repl-js
    //end-static-repl-js
    //repl-js
      <script type="text/javascript">{{{repl-js}}}</script>


    script(type="text/javascript").
      $(function(){

        $(window).scroll(function() {
          var $intro = $('#intro');

          if ($intro.is(':visible')) {
            var $win = $(this),
                height = parseInt($intro.outerHeight(),10);

            if ($win.scrollTop() > height) {

              $('body').addClass('page-condensed');
              
            }
          }
        });

        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh');
        });

        $('#data-col').scrollspy({ target: '#section-nav' })


        $('#section-nav').on('click','a', function(){
          if (!$('body').hasClass('page-condensed')) {
            $('body').addClass('page-condensed');
          }

          var $target = $(this.hash);
          $('#data-col').animate({
            scrollTop: $target.parent().scrollTop() + $target.offset().top - $target.parent().offset().top
          }, 1000);
          return false;
        });


        $('.link-intro').on('click', function(e){
          e.preventDefault();

          $('body').removeClass('page-condensed');

          $('#section-nav').find('li.active').removeClass('active').end().find('li:first').addClass('active');

        });


        $(document).on('click', '#filter-toggle', function(){
          $('#data-container').toggleClass('show-filters');
        });

        $(document).on('click', '.filter-header', function(){
          var $t = $(this), $o = $t.next('.filter-items'), $p = $t.parent('.filter-group'), active = $p.hasClass('active') ? true : false;

          if (active) {
            $o.slideUp(function(){
              $p.removeClass('active');
            });
          }
          else {
            $o.slideDown(function(){
              $p.addClass('active');
            });
          }
        });

      });

