doctype html
html(lang='en')
  head(style="margin-bottom:-300px;")

    //begin-static-app-name
    title clustermap
    //end-static-app-name
    //app-name
      <title>{{{app-name}}}</title>

    meta(charset='utf-8')
    //if IE
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')

    //begin-static-app-name
    meta(name='description', content='clustermap')
    //end-static-app-name
    //app-name
      <meta name="description" content="{{{app-name}}}"/>

    meta(name='author', content='Trampoline Systems Ltd')

    link(type='text/css', rel='stylesheet', href="//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css")
    link(type='text/css', rel='stylesheet', href='css/app.css')

    script(type='text/javascript', src='js/polyfills.js')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.2.min.js')

    <!--[if lte IE 7]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie7'); });
    <![endif]-->
    <!--[if IE 8]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie8'); });
    <![endif]-->
    <!--[if IE 9]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie9'); });
    <![endif]-->
    <!--[if IE 10]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie10'); });
    <![endif]-->
    script(type="text/javascript").
      $(document).ready(function(){
        if ($('html').hasClass('ie8')) {
          $('#browser-support').modal();
        }
      });

    script(type='text/javascript', src='//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
    script(type='text/javascript', src='js/vendor.js')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/react/0.9.0/react.js')

    //begin-static-app-config
    script(type='text/javascript').
      window.config={"api":{"prefix": "medcity"}}
    //end-static-app-config
    //app-config
      <script type="text/javascript">window.config={{{app-config}}}</script>

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if (window.config.ua && window.config.ua.code) {
        ga('create', window.config.ua.code, 'auto');
        ga('send', 'pageview');
      }

  body

    .grd.grdh

      .grdr
        .grdc
          header.page-header
            #reset-all-component
              h1.logo Tech Map London
            ul.nav-links
              li.link-intro: a(href="#") Introduction
              li.link-about#about: a(href="#" onclick="$('#page-about').modal()") Methodology
              li.link-login
                // a(href="#") Login
              li.link-register
                // a(href="#") Register

            .company-search#company-search-component
              input(type="text", placeholder="Company Search")

      .grdr
        .grdc.intro#intro

          h2
            a(href="//techmaplondon.com/" target="_blank") Tech Map London

          p
            | Commissioned by the Mayor of London, the platform
            |  provides an unprecedentedly detailed picture of London&#8217;s
            |  vibrant science and technology sector. Through a combination
            |  of map visualisations, charts and tabular data the platform
            |  reveals the massive contribution the sector makes to
            |  London&#8217;s economy. The platform showcases the sector&#8217;s
            |  impressive growth highlighting where businesses are based,
            |  where sectoral clusters are emerging and how fast firms are
            |  expanding. Filter controls narrow the focus to individual
            |  boroughs or sectors. A selection of charts provides analysis
            |  and tracks trends over the past 10 years. A profile for each
            |  company reports its turnover, employee numbers and board
            |  members. The underlying data is sourced from official
            |  Companies House records and will be updated quarterly. Tech
            |  Map London cements the city&#8217;s status as a global centre for
            |  science and technology businesses. Tech Map London was
            |  funded by the London Enterprise Panel.

      .grdr
        .grdc
          .view.view-main
            #filter-description-component
              .filter-settings
                .filter-buttons
                  button(type="button").btn.btn-primary#filter-toggle Close Filter
                  button(type="button").btn.btn-default#filter-reset Reset

              //-   ul.filter-selected-items
              //-     li
              //-       span Filter item name
              //-       button(type="button").close &times;

      .grdr
        .grdc
          .view.view-company.hide
            .company-header
              h3#company-name-component Company Name
              .company-buttons
                span#company-close
                  button(type="button").btn.btn-primary Close
                //- span#company-edit
                //-   button(type="button").btn.btn-default Edit

      .grdr
        .grdc.grdh

          .grd#data-container.show-filters
            .grdr
              .grdc.grdh#filters.filters.view.view-main
                .grd
                  .grdr
                    .grdc
                      header.filters-header
                        | Filters

                  .grdr
                    .grdc.grdh
                      .grdp.grdh#filter-col
                        #filter-component.grdh.grdw.grda

              .grdc.grdh
                .grd
                  .grdr.view.view-main
                    .grdc

                      ul.section-nav.nav#section-nav
                        li: a(href="#headlines") At a glance
                        li: a(href="#map") Map
                        li: a(href="#charts") Charts
                        li: a(href="#index") Companies
                        li: a(href="#credits") Supporters

                  .grdr
                    .grdc.grdh.grdw

                      .grdp.grdh#data-col(data-spy="scroll", data-target="#section-nav")
                        .grdh.grdw.grda

                          .main-content#data-details

                            section.section.section-headlines.view.view-main#headlines
                              h3 At a glance
                              #headline-stats-component

                            section.section.section-map.view.view-main#map
                              header
                                h3 Map
                                //- p Areas are coloured by company count

                              .panel.panel-default
                                .panel-heading
                                  .heat-map-key
                                    #color-scale-component
                                      //- table.table-key
                                      //-   tbody
                                      //-     tr
                                      //-       td.hm-1 25
                                      //-       td.hm-2 25
                                      //-       td.hm-3 25
                                      //-       td.hm-4 25
                                      //-       td.hm-5 25
                                      //-       td.hm-6 25
                                    // p Colour shows company count. Individual companies appear when fewer than 1000 on the map
                                    p No. of companies in area. Zoom in for Individual locations

                                  .panel-settings
                                    p#reset-map-view-button-component
                                    div
                                      label.checkbox-inline
                                        span#display-minichart-turnover-component.minichart-key.metric-1
                                        | Turnover
                                      label.checkbox-inline
                                        span#display-minichart-employee-count-component.minichart-key.metric-2
                                        | Employees
                                      label.checkbox-inline
                                        span#display-principal-name-component
                                        | Principal company name
                                    div
                                      span Select to show details under each company location marker
                                      //- span.custom-select
                                      //-   select
                                      //-     option Number of companies
                                      //-     option Number of companies
                                      //-     option Number of companies
                                      //-     option Number of companies

                                    //- div
                                    //-   a.btn.btn-link(data-toggle="collapse", href="#advanced-options", aria-expanded="false", aria-controls="advanced-options") Advanced options

                                  //- .panel-options.collapse#advanced-options
                                  //-   div
                                  //-     p Show (by location):
                                  //-     label Turnover
                                  //-       #display-minichart-turnover-component
                                  //-     label Employment
                                  //-       #display-minichart-employee-count-component


                                .panel-body
                                  #map-component


                            section.section.section-charts.view.view-main#charts
                              header
                                h3 Charts
                                // p Intro text...

                              //- .panel
                              //-   .panel-heading
                              //-     h4 Compare Hubs
                              //-     div#city-barchart-var-select-component
                              //-     //- div
                              //-     //-   span.custom-select
                              //-     //-     select
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies

                              //-   .panel-body
                              //-     #city-barchart-component

                              .panel
                                .panel-heading
                                  h4 Boroughs
                                  div
                                    span.custom-select#borough-histogram-var-select-component
                                .panel-body
                                  #borough-histogram-component

                              .panel
                                .panel-heading
                                  h4 Sectors
                                  div
                                    span.custom-select#sector-histogram-var-select-component
                                  //-     select
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies

                                .panel-body
                                  #sector-histogram-component


                              //- .panel
                              //-   .panel-heading
                              //-     h4 Company Size
                              //-     div
                              //-       span.custom-select
                              //-         select
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies

                              //-   .panel-body
                              //-     .chart-container

                              .panel
                                .panel-heading
                                  h4 Trends
                                    //small (grouped by reported year)
                                  div
                                    span.custom-select#trends-timeline-var-select-component
                                      //- select
                                      //-   option Number of companies
                                      //-   option Number of companies
                                      //-   option Number of companies
                                      //-   option Number of companies

                                .panel-body
                                  .chart-container#trends-timeline-component

                              .panel-grid-container
                                .panel-grid
                                  .panel-row
                                    .panel
                                      .panel-heading
                                        h4 Company size by latest turnover
                                          small (where data is available)
                                        //- div
                                        //-   span.custom-select#revenue-bands-var-select-component

                                      .panel-body
                                        .chart-container#revenue-bands-chart-component

                                    .panel
                                      .panel-heading
                                        h4 Company size by latest employees
                                          small (where data is available)
                                        //- div
                                        //-   span.custom-select#revenue-bands-var-select-component

                                      .panel-body
                                        .chart-container#employment-bands-chart-component

                            section.section.section-index.view.view-main#index
                              header
                                h3 Companies
                                // p Intro text...

                              #table-component
                                //- .table-responsive
                                //-   table.table.table-outlined
                                //-     thead
                                //-       tr
                                //-         th.sort-asc
                                //-           a(href="#") Company
                                //-             i
                                //-         th
                                //-           a(href="#") Sector
                                //-             i
                                //-         th.text-right
                                //-           a(href="#") Turnover
                                //-             small  (2014)
                                //-             i
                                //-         th.text-right.sort-desc
                                //-           a(href="#") % Turnover growth
                                //-             i
                                //-         th.text-right
                                //-           a(href="#") Employees
                                //-             small  (2014)
                                //-               i
                                //-         th.text-right
                                //-           a(href="#") % Employee growth
                                //-             i
                                //-     tbody
                                //-       - for (var i = 0; i < 8; ++i) {
                                //-         tr
                                //-           td
                                //-             a(href="#") Company Name
                                //-           td Sectors, sectors
                                //-             small: a(href="#") More
                                //-           td.text-right 9.87M
                                //-             small GBP
                                //-           td.text-right 29
                                //-             i.icon-positive
                                //-           td.text-right 1,996
                                //-           td.text-right 32
                                //-             i.icon-positive
                                //-       - }

                                //- .table-nav
                                //-   .record-count
                                //-     b 1
                                //-     |  to
                                //-     b  6
                                //-     |  of
                                //-     b  26

                                //-   nav
                                //-     button(type="button").btn.btn-default.btn-sm Next
                                //-     button(type="button").btn.btn-default.btn-sm Last


                            section.section.section-credits.view.view-main#credits
                              header
                                h3 Supporters
                                h4 Tech Map London is brought to you by the following organisations
                                   img.center(src='/img/techmap_logos.jpg')

                            section.section.section-company-info.view.view-company.hide#company-info

                              #company-info-component
                                .panel-grid-container
                                  .panel-grid
                                    .panel-row
                                      .panel
                                        .panel-body
                                          .company-logo

                                          .company-details
                                              ul
                                                li
                                                  h4 Description
                                                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum distinctio aliquid voluptatum temporibus suscipit at, quae ea facilis nobis! Facilis quia, repellendus sunt numquam, aut distinctio placeat commodi quisquam eius.

                                                li
                                                  h4 Sector
                                                  p: a(href="#") Other service activities
                                                  p SIC 1234 5678 - Other Business Activities
                                                  p SIC 1234 5678 - Other Business Activities

                                                li
                                                  h4 Registration Number
                                                  p 0123456789
                                                li
                                                  h4 Website
                                                  p: a(href="#") abcdefghijk.com
                                                li
                                                  p
                                                    a(href="#"): i.icon-twitter
                                                    | &nbsp;
                                                    a(href="#"): i.icon-linkedin
                                                    | &nbsp;
                                                    a(href="#"): i.icon-crunch
                                                    | &nbsp;
                                                    a(href="#"): i.icon-angel


                                      .panel
                                        .panel-body
                                          .company-address
                                            .row
                                              .col-sm-6
                                                address
                                                  h4 Registered Address
                                                  div 110 Fulbourn Rd
                                                  div Cambridge
                                                  div Cambridgeshire
                                                  div CB1 9NJ
                                                  div UK
                                              .col-sm-6
                                                address
                                                  h4 Second Address
                                                  div 110 Fulbourn Rd
                                                  div Cambridge
                                                  div Cambridgeshire
                                                  div CB1 9NJ
                                                  div UK
                                          .company-map
                                            .map-container


                                  .panel-row
                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Turnover (2013)
                                          .stat-amount 43.3M
                                            small GBP
                                          .stat-change
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg

                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Employees (2013)
                                          .stat-amount 43,367
                                          .stat-change
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg


                                  .panel-row
                                    .panel
                                      .panel-body
                                        h3 Directors
                                        .table-responsive
                                          table.table
                                            thead
                                              tr
                                                th Name
                                                th Start Date
                                                th ZZZ
                                            tbody
                                              tr
                                                td Mr Joe Blogs
                                                td 19<sup>th</sup> May 1998
                                                td --
                                              tr
                                                td Ms Mary Smith
                                                td 3<sup>rd</sup> Jan 1999
                                                td --
                                              tr
                                                td Mr Alan Robertson
                                                td 21<sup>st</sup> Aug 2001
                                                td --



                          footer.page-footer
                            div
                              | Platform and analytics by &nbsp;
                              a(href='http://www.trampolinesystems.com/' target="_blank") Trampoline Systems
                            div.report-issue
                              a(href='mailto:clustermap-issues@trampolinesystems.com?subject=Tech Map London Cluster Map issue report') Report issue

    #page-about.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            h4.
              Methodology
          #page-about-content.modal-body

            ul
              li
                | Tech Map London provides data and analysis covering every science and technology businesses in Greater London.
              li
                | This is the first time a major city has mapped an entire industry sector in this way.
              li
                | All business information is sourced from Companies House filings.
              li
                | Sectoral boundaries conform to the UK Office of National Statistics definition of the Science and Technology sector
              li
                | Companies with fewer than 50 employees are not required to report how many people they employ. In these cases an estimate is made based on the ratio between turnover and employees for other companies in the same sector.

              li
                | Where a company reports its balance sheet but not turnover, the turnover is estimated based on the ratio between balance sheet and turnover for other companies in the same sector.
              li
                | If a company has its registered office in Greater London but data is available on branches elsewhere in the UK, turnover and employment are divided equally between the offices.


            div.centre
                a(href='http://www.geovation.uk/' target='_blank')
                  img.centre(src='/img/GeovationLogo_standard_portrait.png' alt='Geovation Logo' style='display: block; margin: 0 auto; padding: 15px; width:310px')
            div(style='text-align: center')
                 |  Mapping Partner
            div &nbsp;
            div.centre
              a(href='http://www.sqw.co.uk/' target='_blank')
                img.centre(src='/img/logo_sqw_big.gif' alt='SQW Logo'  style='display: block; margin: 0 auto; padding: 15px; ')
            div(style='text-align: center')
                 |  Research Partner





    //begin-static-base-js
    //- script(type="text/javascript", src="cljs/goog/base.js")
    //end-static-base-js
    //base-js
      //- {{{base-js}}}

    //begin-static-dynamic-js
    <script type="text/javascript" src="clustermap.js"></script>

    //end-static-dynamic-js
    //dynamic-js
      <script type="text/javascript" src="clustermap.js"></script>


    //begin-static-repl-js
    //end-static-repl-js
    //repl-js
      <script type="text/javascript">{{{repl-js}}}</script>


    script(type="text/javascript").
      $(function(){

        $(window).scroll(function() {
          var $intro = $('#intro');

          if ($intro.is(':visible')) {
            var $win = $(this),
                height = parseInt($intro.outerHeight(),10);

            if ($win.scrollTop() > height) {

              $('body').addClass('page-condensed');

            }
          }
        });

        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh');
        });

        $('#data-col').scrollspy({ target: '#section-nav' })


        $('#section-nav').on('click','a', function(){
          if (!$('body').hasClass('page-condensed')) {
            $('body').addClass('page-condensed');
          }

          var $target = $(this.hash);
          $('#data-col').animate({
            scrollTop: $target.parent().scrollTop() + $target.offset().top - $target.parent().offset().top
          }, 1000);
          return false;
        });


        $('.link-intro').on('click', function(e){
          e.preventDefault();

          $('body').removeClass('page-condensed');

          $('#section-nav').find('li.active').removeClass('active').end().find('li:first').addClass('active');

        });


        $(document).on('click', '#filter-toggle', function(){
          $('#data-container').toggleClass('show-filters');
        });

        //- $(document).on('click', '.filter-header', function(){
        //-   var $t = $(this), $o = $t.next('.filter-body'), $p = $t.parent('.filter-group'), active = $p.hasClass('active') ? true : false;

        //-   if (active) {
        //-     $o.slideUp(function(){
        //-       $p.removeClass('active');
        //-     });
        //-   }
        //-   else {
        //-     $o.slideDown(function(){
        //-       $p.addClass('active');
        //-     });
        //-   }
        //- });

      });
