doctype html
html(lang='en')
  head(style="margin-bottom:-300px;")

    //begin-static-app-name
    title clustermap
    //end-static-app-name
    //app-name
      <title>{{{app-name}}}</title>

    meta(charset='utf-8')
    //if IE
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')

    //begin-static-app-name
    meta(name='description', content='clustermap')
    //end-static-app-name
    //app-name
      <meta name="description" content="{{{app-name}}}"/>

    meta(name='author', content='Trampoline Systems Ltd')

    //- link(type='image/x-icon', rel='shortcut icon', href='/favicon.ico')
    //- link(type='image/x-icon', rel='icon', href='/favicon.ico')
    link(type='image/png', rel='icon', sizes='32x32', href='/favicon-32x32.2.png')
    link(type='text/css', rel='stylesheet', href="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css")
    link(type='text/css', rel='stylesheet', href='css/app.css')

    script(type='text/javascript', src='js/polyfills.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.2.min.js')

    <!--[if lte IE 7]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie7'); });
    <![endif]-->
    <!--[if IE 8]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie8'); });
    <![endif]-->
    <!--[if IE 9]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie9'); });
    <![endif]-->
    <!--[if IE 10]>
    script(type="text/javascript").
      $(document).ready(function(){ $('html').addClass('ie10'); });
    <![endif]-->
    script(type="text/javascript").
      $(document).ready(function(){
        if ($('html').hasClass('ie8')) {
          $('#browser-support').modal();
        }
      });

    script(type='text/javascript', src='http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
    script(type='text/javascript', src='js/vendor.js')

    //begin-static-app-config
    script(type='text/javascript').
      window.config={"api":{"prefix": "camclustermap"}}
    //end-static-app-config
    //app-config
      <script type="text/javascript">window.config={{{app-config}}}</script>

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if (window.config.ua && window.config.ua.code) {
        ga('create', window.config.ua.code, 'auto');
        ga('send', 'pageview');
      }

  body

    .grd.grdh
      .grdr
        .grdc
          header.page-header
            #reset-all-component
              h1.logo Cambridge
            .company-search#company-search-component
              input(type="search", placeholder="Company or postcode search")
            ul.nav-links
              li.link-about#about: a(href="#", onclick="$('#page-about').modal()") About
              //- li.link-supporters: a(href="#", onClick='document.getElementById("credits").scrollIntoView()') Supporters
              li.link-supporters#supporters: a(href="#", onClick="$('#page-supporters').modal()") Supporters
              li.link-contact#contact: a(href="#", onClick="$('#page-contact').modal()") Contact
              li.link-help#help: a(href="#", onClick="$('#page-help').modal()") Help

              //- li.link-intro: a(href="#") Intro // no room
            ul.nav-links
              li.link-ahead.centre.flex-logos
                div.flex-child
                  div(style='text-align: center')
                   |  created by

                  a.logo-link(href="http://www.cambridgeahead.co.uk", target="_blank")
                    img.centre(src='/img/camb-ahead.jpeg' alt='Cambridge Ahead Logo' style='display: float; margin: 0 auto; padding: 0px; height:25px')

              li(style='height: 50px')
                span.flex-logos(style='height: 50px')
                  div.vertical-line
              li.link-camb.centre.flex-logos
                div.flex-child
                  div(style='text-align: center')
                   |  data by

                  a.logo-link(href="http://www.cbr.cam.ac.uk/home/", target="_blank")
                    img.centre(src='/img/camb-uni.png' alt='Cambridge University Logo' style='display: float; margin: 0 auto; padding: 0px; height:16px')
              li(style='height: 50px')
                span.flex-logos(style='height: 50px')
                  div.vertical-line
              li.link-barclays.centre.flex-logos
                div.flex-child
                  div(style='text-align: center; display: none')
                   |  sponsored by

                  a.logo-link(href="#", target="_blank")
                    img.centre(src='/img/blanklogo.png' alt='Logo' style='display: float; margin: 0 auto; padding: 0px; height:16px')
              li.link-login
                // a(href="#") Login
              li.link-register
                // a(href="#") Register



      .grdr
        .grdc.intro#intro

          h3
            | Welcome to the Cambridge Cluster Map

          h4
            | What companies feature on the Cluster Map?
          p

            | The Cluster Map identifies and locates companies that are active within a 20-mile radius of the centre of Cambridge. It shows two groups of companies: Cambridge-based and Cambridge-active companies. Cambridge-based companies are those with their primary trading address within this area, or those that do not give a primary trading address but have a registered office in this area. We capture all companies that have filed accounts (newly registered companies will generally not appear until a year after being set up), which gives over 20,000 companies.  #[a(href="#", onClick="$('#intromore').show(); $(this).hide()") [more&hellip;]]

          .more#intromore
            p
              | Cambridge-active companies are those who have neither their registered office, nor primary trading address in the Cambridge area but do have a trading address in the area that we have identified. In general these companies have provided an address within the area as one of their trading addresses, but others have been added once they are identified. Membership of this group is generally restricted to those with ten, or more, employees.

            h4
              | What company data is provided?

            p
              | Data is drawn from filings at Companies House. For Cambridge-based companies the map shows employment and turnover over the period from fiscal years 2010/11 to 2014/15. These figures give the total employment and turnover of these companies, not just what is taking place in the Cambridge area. It is hoped that we will be able to provide estimates of the Cambridge content of employment in future versions of the Cluster Map.

            p
              | Most companies with fewer than 50 employees submit abbreviated accounts without employment, or turnover figures. The employment and turnover figures for these companies have been estimated using a variety of methods, straying on the side of caution over any exaggeration. As new information is received these estimates will be revised. Despite this caution, the Cluster Map reveals a vibrant Cambridge economy with exceptional corporate growth.

            p
              | No employment, or turnover data is provided for Cambridge-active companies but it is hoped that we can provide their Cambridge employment figures in future versions of the Cluster Map.

            p(style="text-align: right")
              | #[a(href="#", onClick="$('body').addClass('page-condensed');") [close intro]]

            //- button(type="button").btn.btn-default#close-intro Close Introduction
      .grdr
        .grdc
          .view.view-main
            #filter-description-component
              .filter-settings
                .filter-buttons
                  button(type="button").btn.btn-primary#filter-toggle Close Filter
                  button(type="button").btn.btn-default#filter-reset Reset

              //-   ul.filter-selected-items
              //-     li
              //-       span Filter item name
              //-       button(type="button").close &times;

      .grdr
        .grdc
          .view.view-company.hide
            .company-header
              h3#company-name-component Company Name
              .company-buttons
                span#company-close
                  button(type="button").btn.btn-primary Close
                //- span#company-edit
                //-   button(type="button").btn.btn-default Edit

      .grdr
        .grdc.grdh

          .grd#data-container.show-filters
            .grdr
              .grdc.grdh#filters.filters.view.view-main
                .grd
                  .grdr
                    .grdc
                      header.filters-header
                        | Filters

                  .grdr
                    .grdc.grdh
                      .grdp.grdh#filter-col
                        #filter-component.grdh.grdw.grda

              .grdc.grdh
                .grd
                  .grdr.view.view-main
                    .grdc

                      ul.section-nav.nav#section-nav
                        li: a(href="#headlines") At a glance
                        li: a(href="#map") Map
                        li: a(href="#charts") Charts
                        li: a(href="#index") Companies
                        //- li: a(href="#credits") Supporters

                  .grdr
                    .grdc.grdh.grdw

                      .grdp.grdh#data-col(data-spy="scroll", data-target="#section-nav")
                        .grdh.grdw.grda

                          .main-content#data-details

                            section.section.section-headlines.view.view-main#headlines
                              h3 At a glance
                              #headline-stats-component

                            section.section.section-map.view.view-main#map
                              header
                                h3 Map
                                //- p Areas are coloured by company count

                              .panel.panel-default
                                .panel-heading
                                  .heat-map-key
                                    #color-scale-component
                                      //- table.table-key
                                      //-   tbody
                                      //-     tr
                                      //-       td.hm-1 25
                                      //-       td.hm-2 25
                                      //-       td.hm-3 25
                                      //-       td.hm-4 25
                                      //-       td.hm-5 25
                                      //-       td.hm-6 25
                                    // p Colour shows company count. Individual companies appear when fewer than 1000 on the map
                                    p Individual company locations appear when fewer than 1000 on the map

                                  .panel-settings
                                    p#reset-map-view-button-component
                                    div
                                      label.checkbox-inline
                                        span#display-minichart-turnover-component.minichart-key.metric-1
                                        | Turnover
                                      label.checkbox-inline
                                        span#display-minichart-employee-count-component.minichart-key.metric-2
                                        | Employees
                                      label.checkbox-inline
                                        span#display-principal-name-component
                                        | Principal company name
                                    div
                                      span Select to show details under each company location marker
                                      //- span.custom-select
                                      //-   select
                                      //-     option Number of companies
                                      //-     option Number of companies
                                      //-     option Number of companies
                                      //-     option Number of companies

                                    //- div
                                    //-   a.btn.btn-link(data-toggle="collapse", href="#advanced-options", aria-expanded="false", aria-controls="advanced-options") Advanced options

                                  //- .panel-options.collapse#advanced-options
                                  //-   div
                                  //-     p Show (by location):
                                  //-     label Turnover
                                  //-       #display-minichart-turnover-component
                                  //-     label Employment
                                  //-       #display-minichart-employee-count-component


                                .panel-body
                                  #map-component


                            section.section.section-charts.view.view-main#charts
                              header
                                h3 Charts
                                // p Intro text...

                              //- .panel
                              //-   .panel-heading
                              //-     h4 Compare Hubs
                              //-     div#city-barchart-var-select-component
                              //-     //- div
                              //-     //-   span.custom-select
                              //-     //-     select
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies
                              //-     //-       option Number of companies

                              //-   .panel-body
                              //-     #city-barchart-component

                              .panel
                                .panel-heading
                                  h4 Sectors
                                  div
                                    span.custom-select#sector-histogram-var-select-component
                                  //-     select
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies
                                  //-       option Number of companies

                                .panel-body
                                  .chart-container#sector-histogram-component

                              //- .panel
                              //-   .panel-heading
                              //-     h4 Company Size
                              //-     div
                              //-       span.custom-select
                              //-         select
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies
                              //-           option Number of companies

                              //-   .panel-body
                              //-     .chart-container

                              .panel
                                .panel-heading
                                  h4 Trends
                                  div
                                    span.custom-select#trends-timeline-var-select-component
                                      //- select
                                      //-   option Number of companies
                                      //-   option Number of companies
                                      //-   option Number of companies
                                      //-   option Number of companies

                                .panel-body
                                  .chart-container#trends-timeline-component

                              .panel-grid-container
                                .panel-grid
                                  .panel-row
                                    .panel
                                      .panel-heading
                                        h4 Company size - turnover
                                        //- div
                                        //-   span.custom-select#revenue-bands-var-select-component

                                      .panel-body
                                        .chart-container#revenue-bands-chart-component

                                    .panel
                                      .panel-heading
                                        h4 Company size - employees
                                        //- div
                                        //-   span.custom-select#revenue-bands-var-select-component

                                      .panel-body
                                        .chart-container#employment-bands-chart-component

                            section.section.section-index.view.view-main#index
                              header
                                h3 Companies
                                // p Intro text...

                              #table-component
                                //- .table-responsive
                                //-   table.table.table-outlined
                                //-     thead
                                //-       tr
                                //-         th.sort-asc
                                //-           a(href="#") Company
                                //-             i
                                //-         th
                                //-           a(href="#") Sector
                                //-             i
                                //-         th.text-right
                                //-           a(href="#") Turnover
                                //-             small  (2014)
                                //-             i
                                //-         th.text-right.sort-desc
                                //-           a(href="#") % Turnover growth
                                //-             i
                                //-         th.text-right
                                //-           a(href="#") Employees
                                //-             small  (2014)
                                //-               i
                                //-         th.text-right
                                //-           a(href="#") % Employee growth
                                //-             i
                                //-     tbody
                                //-       - for (var i = 0; i < 8; ++i) {
                                //-         tr
                                //-           td
                                //-             a(href="#") Company Name
                                //-           td Sectors, sectors
                                //-             small: a(href="#") More
                                //-           td.text-right 9.87M
                                //-             small GBP
                                //-           td.text-right 29
                                //-             i.icon-positive
                                //-           td.text-right 1,996
                                //-           td.text-right 32
                                //-             i.icon-positive
                                //-       - }

                                //- .table-nav
                                //-   .record-count
                                //-     b 1
                                //-     |  to
                                //-     b  6
                                //-     |  of
                                //-     b  26

                                //-   nav
                                //-     button(type="button").btn.btn-default.btn-sm Next
                                //-     button(type="button").btn.btn-default.btn-sm Last


                            section.section.section-credits.view.view-main#credits
                              header
                                //- h3 Supporters
                                h4 Data provided by Dr Andy Cosh of The Centre for Business Research at the University of Cambridge
                                img.center(src='img/CentreforBusinessResearchlogo.grey.jpg')



                            section.section.section-company-info.view.view-company.hide#company-info

                              #company-info-component
                                .panel-grid-container
                                  .panel-grid
                                    .panel-row
                                      .panel
                                        .panel-body
                                          .company-logo

                                          .company-details
                                              ul
                                                li
                                                  h4 Description
                                                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum distinctio aliquid voluptatum temporibus suscipit at, quae ea facilis nobis! Facilis quia, repellendus sunt numquam, aut distinctio placeat commodi quisquam eius.

                                                li
                                                  h4 Sector
                                                  p: a(href="#") Other service activities
                                                  p SIC 1234 5678 - Other Business Activities
                                                  p SIC 1234 5678 - Other Business Activities

                                                li
                                                  h4 Registration Number
                                                  p 0123456789
                                                li
                                                  h4 Website
                                                  p: a(href="#") abcdefghijk.com
                                                li
                                                  p
                                                    a(href="#"): i.icon-twitter
                                                    | &nbsp;
                                                    a(href="#"): i.icon-linkedin
                                                    | &nbsp;
                                                    a(href="#"): i.icon-crunch
                                                    | &nbsp;
                                                    a(href="#"): i.icon-angel


                                      .panel
                                        .panel-body
                                          .company-address
                                            .row
                                              .col-sm-6
                                                address
                                                  h4 Registered Address
                                                  div 110 Fulbourn Rd
                                                  div Cambridge
                                                  div Cambridgeshire
                                                  div CB1 9NJ
                                                  div UK
                                              .col-sm-6
                                                address
                                                  h4 Second Address
                                                  div 110 Fulbourn Rd
                                                  div Cambridge
                                                  div Cambridgeshire
                                                  div CB1 9NJ
                                                  div UK
                                          .company-map
                                            .map-container


                                  .panel-row
                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Turnover (2013)
                                          .stat-amount 43.3M
                                            small GBP
                                          .stat-change
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg

                                    .panel
                                      .panel-body
                                        .chart-heading
                                          h4.stat-title Employees (2013)
                                          .stat-amount 43,367
                                          .stat-change
                                            i.icon-positive
                                            span 15.6%

                                        .chart-container-lg


                                  .panel-row
                                    .panel
                                      .panel-body
                                        h3 Directors
                                        .table-responsive
                                          table.table
                                            thead
                                              tr
                                                th Name
                                                th Start Date
                                                th ZZZ
                                            tbody
                                              tr
                                                td Mr Joe Blogs
                                                td 19<sup>th</sup> May 1998
                                                td --
                                              tr
                                                td Ms Mary Smith
                                                td 3<sup>rd</sup> Jan 1999
                                                td --
                                              tr
                                                td Mr Alan Robertson
                                                td 21<sup>st</sup> Aug 2001
                                                td --



                          footer.page-footer
                            div
                              | Platform and analytics by &nbsp;
                              a(href='http://www.trampolinesystems.com/' target="_blank") Trampoline Systems
                            div.report-issue
                              a(href='mailto:clustermap-issues@trampolinesystems.com?subject=Cambridge Cluster Map issue report') Report issue

    #page-about.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            h4.
              About the Cambridge Cluster Map
          #page-about-content.modal-body
            img.centre(src='/img/AstraZeneca-scientist-for-About-modal.jpg' alt='AZ' style='display: block; margin: 0 auto; padding: 15px; max-width:100%;')

            span.image-credit
              p.
                Image: AstraZeneca

            p.abstract
                |The Cambridge Cluster Map is a big data resource highlighting the data on the cluster of businesses located within 20 miles of Cambridge, UK. It is a free-to-access online resource created by Cambridge Ahead and shows the vibrancy of the Cambridge technology and life science cluster. The underlying research has been provided by the Centre for Business Research of the University of Cambridge and business data has been sourced from the FAME database produced by Bureau Van Dijk. Platform and mapping analytics have been created by Trampoline Systems. We would like to thank our #[a(href="#", onClick="$('#page-about').modal('hide').one('hidden.bs.modal', function (e) { $('#page-supporters').modal()})") supporters].

                //- sponsor, #[a(href="#", target="_blank") xxxxx Company] and
            p
              //- |The Cluster Map is an improvement on a previous version from the Cambridge 2 You initiative and&nbsp;

              //- a(href="http://www.cambridgeahead.co.uk", target="_blank") Cambridge Ahead
              |Cambridge Ahead has created this Cluster Map because we have now been able to draw together accurate financial data covering the full range of Cambridge companies, both those based in Cambridge, and those trading in it. Find out #[a(href="http://www.cambridgeahead.co.uk/wp-content/uploads/2016/03/About-Companies-Data-on-the-CCM.pdf", target="_blank") how we define them and the company data provided]. The map is also different from previous versions because the data and the map presentation of it is not just for the Tech sector, but for all the other economic sectors too.

            p
              |We cannot yet claim that the data covers the entire economy of Cambridge, because the company employment data is for the Cambridge companies&rsquo; global employment and we do not have data for sole traders, some elements of the public sector, and for employees of national and international companies with trading and research offices in Cambridge. Nevertheless, the growth trends over several years are strong indicators of the whole sub-regional economy&rsquo;s growth and we expect to add further data later that may enable this claim to be made. The data will be updated at least annually.

            p.
              The data means that we can show the growth and economic health of the sub-region over time much better than before. We now have real and detailed evidence that Cambridge companies have grown very rapidly in the past 4 years. Importantly, this growth does not include data on &lsquo;incomers&rsquo; to the city, such as AstraZeneca.

            p.
              The source, #[a(href='http://www.cambridgeahead.co.uk/wp-content/uploads/2016/02/CBR-Database-Methodology-Feb-2016.pdf', target="_blank") methodology] and granular nature of the data means that the map will be of interest to a wide audience, from individual companies in Cambridge, to economics researchers, through to international organisations which might be doing a global search for new locations or acquisitions. There are 5 years of data, for which we are showing 4 years of growth.

            p.
              The map enables the data to be shown in sectoral, geographic, chart and other formats. The data for individual companies includes postcode, business sector, turnover, employment level, and directors.

            h5.
              Researchers

            p.
              Academic, economic, business and other researchers who wish to delve deeper into the data can do so by gaining accreditation from The Centre for Business Research (CBR). You will be able to access and download the data for further interrogation. In order to gain accreditation, please contact Dr Andy Cosh by completing this #[a(href='http://www.cambridgeahead.co.uk/camclustermap/contact', target="_blank") form].


    #page-supporters.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            h4.
              Supporters
          #page-about-content.modal-body
            img.centre(src='/img/Rowing-for-Supporters-modal.blue.jpg' alt='Lent Bumps' style='display: block; margin: 0 auto; padding: 15px; width:100%;')

            span.image-credit
              p.
                Image: University of Cambridge

            div
              p.
                Thanks to the following organisations for supporting this initiatve:

              img.centre(src='/img/supporters.matrix.png' alt='supporters matrix' style='display: block; margin: 0 auto; padding: 15px; width:100%;')

    #page-contact.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            h4.
              Contact Us
          #page-contact-content.modal-body

            img.centre(src='/img/Napp-building-for-Contact-modal.blue.jpg' alt='Napp building' style='display: block; margin: 0 auto; padding: 15px; width:100%;')
            span.image-credit
              p.
                Image: Napp Pharmaceuticals
            h4.
              Media enquiries

            p.
              For media enquiries please contact Richard Fullerton: #[a(href='mailto:richard@mcs-organisation.com?subject=Cambridge Cluster Map') richard@mcs-organisation.com], #[span(style="white-space: nowrap") Tel: +44 (0)7976 728051]


            h4.
              Report an issue about the Clustermap

            p.
              If you have identified a technical issue about the Map, please #[a(href='mailto:clustermap-issues@trampolinesystems.com?subject=Cambridge Cluster Map issue report') contact Trampoline]


            h4.
              Incorrect Data

            p.
              If you believe that there is incorrect data within the Map, please contact Dr Andy Cosh of The Centre for Business Research by completing this #[a(href='http://www.cambridgeahead.co.uk/camclustermap/contact', target="_blank") form]

            h4.
              Other issues

            p.
              If you would like to contact Cambridge Ahead directly about the Cluster Map, or for any other issue, please #[a(href='http://www.cambridgeahead.co.uk/contact-us/', target="_blank") contact us].

            h4.
              Accreditation for Research purposes

            p.
              If you would like to become an accredited researcher and gain access to the complete data, please contact Dr Andy Cosh of The Centre for Business Research by completing this #[a(href='http://www.cambridgeahead.co.uk/camclustermap/contact', target="_blank") form].

    #page-help.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            h4.
              Help & FAQs
          #page-help-content.modal-body

            img.centre(src='/img/AstraZeneca-for-Help-modal.blue.jpg' alt='Molecule Logo' style='display: block; margin: 0 auto; padding: 15px; width:100%;')
            span.image-credit
              p.
                Image: AstraZeneca/Marco Betti
            //- p.
            //-   Please view this short video [LINK TO COME] which is a tour of the Cluster Map work and how it works.

            p.
              If you require help or more information about the Cluster Map, please see our &lsquo;FAQs&rsquo; below or visit our #[a(href="#", onClick="$('#page-help').modal('hide') ;$('#page-contact').modal()") Contact] page.

            h4.
              FAQs


            p.question
              |Why has Cambridge Ahead produced this Cluster Map and how does it differ from the previous version?
            p.answer
              |It is only now (Feb 2016) that it has been possible to draw together accurate financial data covering the full range of Cambridge companies, both those based in Cambridge, and those trading in it. Find out #[a(href="http://www.cambridgeahead.co.uk/wp-content/uploads/2016/03/About-Companies-Data-on-the-CCM.pdf", target="_blank") how we define them and the company data provided]. The map is also different from earlier versions because the data and the map presentation of it is not just for the Tech sector, but for all the other economic sectors too.

            p.question
              |What is the source of the data that has been analysed to produce the Cluster Map?

            p.answer
              |The source of the data is the FAME database produced by Bureau Van Dijk which includes over 3 million active UK-based companies and a further 6 million that are dormant or who have died.

            p.question
              |What is the definition of a Knowledge-Intensive (KI) company?
            p.answer
              |We classify KI sectors as Information technology and communications; Life science and healthcare; High-tech Manufacturing; and Knowledge intensive services.

            p.question
              |What is a &lsquo;scale-up&rsquo; company?
            p.answer
              |A &lsquo;scale-up&rsquo; is an enterprise with average annualised growth in employees or turnover greater than 20 per cent per annum over a three year period, and with more than 10 employees at the beginning of the observation period. (See the #[a(href='http://www.scaleupreport.org/', target="_blank") Scale-up Report], November 2014)

            p.question
              |What methodology has been used to create the map?
            p.answer
              |Please see the CBR database methodology #[a(href='http://www.cambridgeahead.co.uk/wp-content/uploads/2016/02/CBR-Database-Methodology-Feb-2016.pdf', target="_blank") here].

            p.question
              |My company entry has an incorrect entry. How do I get it fixed?
            p.answer
              |Please complete this #[a(href='http://www.cambridgeahead.co.uk/camclustermap/contact', target="_blank") form]. The correction will be made in the next planned upload of data.

            p.question
              |My company isn&rsquo;t listed. Why not?
            p.answer
              |If a company is registered outside Cambridge but has not provided its trading address i.e. postcode in Cambridge, then it is likely that it will not be feature within the Cluster Map. There are some non-Cambridge registered companies included on the database, despite not showing their Cambridge operation, because we know they are here. However, to justify the effort of doing that our present policy is that the company has to qualify as being both KI and have ten or more employees.

            p.question
              |Why don&rsquo;t you publish the full addresses of companies?
            p.answer
              |It is not necessary &ndash; this map is not a postal directory but an analysis of performance data. By limiting the address to postal code we ensure that we have a good location indicator.

            p.question
              |How often is the data updated?
            p.answer
              |Typically we intend of refresh the data, including corrections, every three months.

            p.question
              |I am a researcher and want access to the full dataset so that I can make my own analysis. How can I get this?
            p.answer
              |You have to become an accredited researcher. To do this, please complete this #[a(href='http://www.cambridgeahead.co.uk/camclustermap/contact', target="_blank") form]. Dr Andy Cosh of the CBR will be in touch.

            p.question
              |Where can I find out more background about the Cluster Map?
            p.answer
              |Please visit #[a(href="http://www.cambridgeahead.co.uk/camclustermap", target="_blank") www.cambridgeahead.co.uk/camclustermap]

    //begin-static-base-js
    //- script(type="text/javascript", src="cljs/goog/base.js")
    //end-static-base-js
    //base-js
    //- {{{base-js}}}

    //begin-static-dynamic-js
    <script type="text/javascript" src="clustermap.js">
    //end-static-dynamic-js
    //dynamic-js
      <script type="text/javascript" src="clustermap.js">

    //begin-static-repl-js
    //end-static-repl-js
    //repl-js
      <script type="text/javascript">{{{repl-js}}}</script>


    script(type="text/javascript").
      $(function(){

        $(window).scroll(function() {
          var $intro = $('#intro');

          if ($intro.is(':visible')) {
            var $win = $(this),
                height = parseInt($intro.outerHeight(),10);

            if ($win.scrollTop() > height) {

              $('body').addClass('page-condensed');

            }
          }
        });

        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh');
        });

        $('#data-col').scrollspy({ target: '#section-nav' })


        $('#section-nav').on('click','a', function(){
          if (!$('body').hasClass('page-condensed')) {
            $('body').addClass('page-condensed');
          }

          var $target = $(this.hash);
          $('#data-col').animate({
            scrollTop: $target.parent().scrollTop() + $target.offset().top - $target.parent().offset().top
          }, 1000);
          return false;
        });


        $('.link-intro').on('click', function(e){
          e.preventDefault();

          $('body').removeClass('page-condensed');

          $('#section-nav').find('li.active').removeClass('active').end().find('li:first').addClass('active');

        });


        $(document).on('click', '#filter-toggle', function(){
          $('#data-container').toggleClass('show-filters');
        });

        $(document).on('click', '.filter-header', function(){
          var $t = $(this), $o = $t.next('.filter-body'), $p = $t.parent('.filter-group'), active = $p.hasClass('active') ? true : false;

          if (active) {
            $o.slideUp(function(){
              $p.removeClass('active');
            });
          }
          else {
            $o.slideDown(function(){
              $p.addClass('active');
            });
          }
        });

      });
