doctype html
html(lang='en')(style="margin-bottom:-300px;")
  head
    title clustermap
    meta(charset='utf-8')
    //if IE
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='description', content='clustermap')
    meta(name='author', content='Trampoline Systems Ltd')

    link(type='text/css', rel='stylesheet', href='assets/css/app.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(type='text/javascript', src='assets/js/bootstrap.min.js')

  body

    .grd.grdh

      .grdr
        .grdc
          header.page-header
            h1.logo EC
            .company-search
              input(type="text", placeholder="Company Search")

            ul.nav-links
              li.view-intro: a(href="#") Introduction
              li.view-about: a(href="#") About
              li.view-login: a(href="#") Login
              li.view-register: a(href="#") Register



      .grdr
        .grdc.intro#intro

          h2
            | Mapping Europe&#8217;s startup ecosystem

          p
            | This platform is being developed as part of&nbsp;
            a(href="http://ec.europa.eu/digital-agenda/about-startup-europe" target="_blank") Startup Europe
            | &nbsp;to provide a detailed and consistent analysis of the startup ecosystem across Europe.
            | New functionality and data sources are being introduced progressively through 2015 and 2016.
            | The current beta release contains only partial data and some known inconsistencies.



      .grdr
        .grdc
          .filter-settings
            .filter-buttons
              button(type="button").btn.btn-primary#filter-toggle Open Filter
              button(type="button").btn.btn-default#filter-reset Reset

            ul.filter-selected-items
              li
                span Filter item name
                button(type="button").close &times;



      .grdr
        .grdc.grdh

          .grd#data-container
            .grdr
              .grdc.grdh#filters.filters
                .grd
                  .grdr
                    .grdc
                      header.filters-header
                        | Filters

                  .grdr
                    .grdc.grdh
                      .grdp.grdh#filter-col
                        .grdh.grdw.grda

                          .filter-group.active
                            .filter-header
                              i.icon-toggle-filter
                              span Filter header

                            ul.filter-items
                              li
                                label
                                  div
                                    span.label
                                      input(type="checkbox")
                                      | Filter item name
                                  div
                                    span.badge 123
                              li
                                label
                                  div
                                    span.label
                                      input(type="checkbox")
                                      | Filter item name
                                  div
                                    span.badge 123
                              li
                                label
                                  div
                                    span.label
                                      input(type="checkbox")
                                      | Filter item name
                                  div
                                    span.badge 123
                              li
                                label
                                  div
                                    span.label
                                      input(type="checkbox")
                                      | Filter item name
                                  div
                                    span.badge 123

                          - for (var i = 0; i < 5; ++i) {
                            .filter-group
                              .filter-header
                                i.icon-toggle-filter
                                span Filter header

                              ul.filter-items
                                - for (var j = 0; j < 5; ++j) {
                                  li
                                    label
                                      div
                                        span.label
                                          input(type="checkbox")
                                          | Filter item name
                                      div
                                        span.badge 123
                                - }
                          - }


              .grdc.grdh
                .grd
                  .grdr
                    .grdc

                      ul.section-nav.nav#section-nav
                        li: a(href="#headlines") Headlines
                        li: a(href="#map") Map
                        li: a(href="#charts") Charts
                        li: a(href="#index") Index

                  .grdr
                    .grdc.grdh.grdw

                      .grdp.grdh#data-col(data-spy="scroll", data-target="#section-nav")
                        .grdh.grdw.grda

                          .main-content#data-details

                            section.section.section-headlines#headlines
                              h3 At a glance
                              .row.headline-stats
                                .col-md-6
                                  .row
                                    .col-sm-6
                                      h4.stat-title Companies
                                      .stat-amount 43,367
                                      .stat-change
                                        i.icon-positive
                                        span 32,369
                                    .col-sm-6
                                      h4.stat-title Total Turnover
                                      .stat-amount 
                                        | 43.3M
                                        small  GBP
                                      .stat-change
                                        i.icon-positive
                                        span 15.6%
                                .col-md-6
                                  .row
                                    .col-sm-6
                                      h4.stat-title Total Employees
                                      .stat-amount 2,345
                                      .stat-change
                                        i.icon-negative
                                        span 12.3%
                                    .col-sm-6
                                      h4.stat-title Mean Tunrover
                                        small  per Employee
                                      .stat-amount
                                        | 4.3K
                                        small  GBP

                            section.section.section-map#map
                              header
                                h3 Cluster Map
                                p Intro text...

                              .panel.panel-default
                                .panel-heading
                                  .heat-map-key
                                    table.table-key
                                      tbody
                                        tr
                                          td.hm-1 25
                                          td.hm-2 25
                                          td.hm-3 25
                                          td.hm-4 25
                                          td.hm-5 25
                                          td.hm-6 25
                                    p Companies appear once fewer than 200 on the map

                                  .panel-settings
                                    div
                                      span.custom-select
                                        select
                                          option Number of companies
                                          option Number of companies
                                          option Number of companies
                                          option Number of companies

                                    div
                                      a.btn.btn-link(data-toggle="collapse", href="#advanced-options", aria-expanded="false", aria-controls="advanced-options") Advanced options

                                  .panel-options.collapse#advanced-options
                                    p Enter advanced optiuons here...


                                .panel-body
                                  #map-container


                            section.section.section-charts#charts
                              header
                                h3 Charts
                                p Intro text...

                              .panel
                                .panel-heading
                                  h4 Compare Areas
                                  div
                                    span.custom-select
                                      select
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies

                                .panel-body
                                  table.table.table-stats.table-filtered
                                    tr.active-row
                                      th.title
                                        span Cambridge Ahead
                                      td.amount
                                        span 560
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:75%")
                                    tr
                                      th.title
                                        span City of Cambridge
                                      td.amount
                                        span 460
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:65%")
                                    tr
                                      th.title
                                        span East Cambridge
                                      td.amount
                                        span 360
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:55%")
                                    tr
                                      th.title
                                        span Fenland
                                      td.amount
                                        span 260
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:45%")
                                    tr
                                      th.title
                                        span Huntingdonshire
                                      td.amount
                                        span 160
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:35%")
                                    tr
                                      th.title
                                        span South Cambridge
                                      td.amount
                                        span 60
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:25%")

                              .panel
                                .panel-heading
                                  h4 Compare Sectors
                                  div
                                    span.custom-select
                                      select
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies

                                .panel-body
                                  table.table.table-stats
                                    tr
                                      th.title
                                        span Cambridge Ahead
                                      td.amount
                                        span 560
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:75%")
                                    tr
                                      th.title
                                        span City of Cambridge
                                      td.amount
                                        span 460
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:65%")
                                    tr
                                      th.title
                                        span East Cambridge
                                      td.amount
                                        span 360
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:55%")
                                    tr
                                      th.title
                                        span Fenland
                                      td.amount
                                        span 260
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:45%")
                                    tr
                                      th.title
                                        span Huntingdonshire
                                      td.amount
                                        span 160
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:35%")
                                    tr
                                      th.title
                                        span South Cambridge
                                      td.amount
                                        span 60
                                      td.bar
                                        .bar-chart-container
                                          .bar-chart(style="width:25%")


                              .panel
                                .panel-heading
                                  h4 Company Size
                                  div
                                    span.custom-select
                                      select
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies

                                .panel-body
                                  .chart-container

                              .panel
                                .panel-heading
                                  h4 Trends
                                  div
                                    span.custom-select
                                      select
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies
                                        option Number of companies

                                .panel-body
                                  .chart-container



                            section.section.section-index#index
                              header
                                h3 The Cambridge Index
                                p Intro text...

                              .table-responsive
                                table.table
                                  thead
                                    tr
                                      th.sort-asc 
                                        a(href="#") Company
                                          i
                                      th 
                                        a(href="#") Sector
                                          i
                                      th.text-right 
                                        a(href="#") Turnover
                                          small  (2014)
                                          i
                                      th.text-right.sort-desc 
                                        a(href="#") % Turnover growth
                                          i
                                      th.text-right 
                                        a(href="#") Employees
                                          small  (2014)
                                            i
                                      th.text-right
                                        a(href="#") % Employee growth
                                          i
                                  tbody
                                    - for (var i = 0; i < 8; ++i) {
                                      tr
                                        td
                                          a(href="#") Company Name
                                        td Sectors, sectors 
                                          small: a(href="#") More
                                        td.text-right 9.87M 
                                          small GBP
                                        td.text-right 29 
                                          i.icon-positive
                                        td.text-right 1,996
                                        td.text-right 32 
                                          i.icon-positive
                                    - }

                              .table-nav
                                .record-count
                                  b 1
                                  |  to
                                  b  6
                                  |  of
                                  b  26

                                nav
                                  button(type="button").btn.btn-default.btn-sm Next
                                  button(type="button").btn.btn-default.btn-sm Last


                          footer.page-footer
                            div
                              | Research and analysis by&nbsp;
                              a(href="https://www.grantthornton.com/" target="_blank") Grant Thornton
                              | &nbsp;- interactive platform by &nbsp;
                              a(href='http://www.trampolinesystems.com/' target="_blank") Trampoline Systems
                            div.report-issue
                              a(href='mailto:clustermap-issues@trampolinesystems.com?subject=Startup Hubs EU issue report') Report issue



    script(type="text/javascript")
      $(function(){

        $(window).scroll(function() {
          var $intro = $('#intro');

          if ($intro.is(':visible')) {
            var $win = $(this),
                height = parseInt($intro.outerHeight(),10);

            if ($win.scrollTop() > height) {

              $('body').addClass('page-condensed');
              
            }
          }
        });

        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh');
        });

        $('#data-col').scrollspy({ target: '#section-nav' })


        $('#section-nav').on('click','a', function(){
          if (!$('body').hasClass('page-condensed')) {
            $('body').addClass('page-condensed');
          }

          var $target = $(this.hash);
          $('#data-col').animate({
            scrollTop: $target.parent().scrollTop() + $target.offset().top - $target.parent().offset().top
          }, 1000);
          return false;
        });


        $('.view-intro').on('click', function(e){
          e.preventDefault();

          $('body').removeClass('page-condensed');
          $(window).scrollTop(0);

          $('#section-nav').find('li.active').removeClass('active').end().find('li:first').addClass('active');

        });


        $('#filter-toggle').on('click', function(){
          $('#data-container').toggleClass('show-filters');
        });

        $('.filter-header').on('click', function(){
          var $t = $(this), $o = $t.next('.filter-items'), $p = $t.parent('.filter-group'), active = $p.hasClass('active') ? true : false;

          if (active) {
            $o.slideUp(function(){
              $p.removeClass('active');
            });
          }
          else {
            $o.slideDown(function(){
              $p.addClass('active');
            });
          }
        });

      });

